<% label_options = ["access", "media", "preservation"] %>

<%= form_tag({:controller => :work_order, :action => :generate_psul_export}, {:method => 'post', :id => "work_order_form"}) do |form| %>
  <%= hidden_field_tag "resource", @uri %>
  <div class="form-group row required">
    <%= label_tag "export_type", t('plugins.digitization_work_order.export_type'), :class => "col-2 control-label" %>
    <%= select_tag "export_type", options_for_select(label_options.map{|opt| [t("plugins.digitization_work_order.export_types.#{opt}"), opt]}), :class => "col-6 form-control" %>
  </div>
  <div class="report-fields"></div>

<% end %>

<div class="form-group">
  <button id="generatePsulExport" class="btn btn-primary submit-btn" disabled>
    <%= I18n.t("plugins.digitization_work_order.download_psul_export_button") %>
  </button>
  <%= link_to I18n.t("plugins.digitization_work_order.cancel_button"),:back, :class => "btn btn-default" %>
</div>